#__next .layout-v3 {
  height: 100%;
}

.layout-v3 main h1 {
  margin-top: 1.8rem !important;
}

.layout-v3 .nextra-toc {
  margin-top: 1.8rem !important;
}

.layout-v3 .logo.logo-drash {
  margin: 2rem 0;
}

.layout-v3 li ul,
.layout-v3 li ol {
  margin-top: 0;
}

.layout-v3 h3 ~ div ol li > p.first\:nx-mt-0:first-child {
  margin-top: 1.5rem;
}

.layout-v3 .nextra-filetree button {
  pointer-events: none;
}

.layout-v3 .nextra-filetree > div {
  background: hsl(var(--nextra-primary-hue)100% 39%/.05);
  width: 100%;
}

.layout-v3 .tutorials\:chains\:introduction .clusters #lifecycle rect {
  stroke: rgba(0,0,0,0.1);
  stroke-width: 2px;
}

.layout-v3 .tutorials\:chains\:introduction .clusters rect {
  rx: .5rem;
  ry: .5rem;
}

.layout-v3 .tutorials\:chains\:introduction.flowchart-drash-chain .clusters #client,
.layout-v3 .tutorials\:chains\:introduction.flowchart-drash-chain .nodes .node.red,
.layout-v3 .tutorials\:chains\:introduction.flowchart-drash-chain .clusters #runtime,
.layout-v3 .tutorials\:chains\:introduction.flowchart-drash-chain .nodes .node.green
{
  display: none;
}

.layout-v3 .tutorials\:chains\:introduction.flowchart-runtime-drash-chain .clusters #client,
.layout-v3 .tutorials\:chains\:introduction.flowchart-runtime-drash-chain .nodes .node.red
{
  display: none;
}

.layout-v3 .tutorials\:chains\:introduction .clusters #lifecycle .nodeLabel
{
  display: none;
}

.layout-v3 .tutorials\:chains\:introduction.flowchart-data-runtime-drash-chain .clusters #chain,
.layout-v3 .tutorials\:chains\:introduction.flowchart-data-runtime-drash-chain .nodes .node.blue
{
  display: none;
}

.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed .clusters #lifecycle .nodeLabel
{
  display: none;
}

.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-1 .clusters #client,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-1 .nodes .node.red,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-1 .clusters #runtime,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-1 .nodes .node.green,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-1 .clusters #external,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-1 .nodes .node.ext
{
  display: none;
}

.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-2 .clusters #client,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-2 .nodes .node.red,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-2 .clusters #external,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-2 .nodes .node.ext
{
  display: none;
}

.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-3 .clusters #external,
.layout-v3 .tutorials\:chains\:introduction.flowchart-detailed.flowchart-3 .nodes .node.ext
{
  display: none;
}

.layout-v3 .nextra-callout {
  font-size: .85rem;
}

/* .layout-v3 .nextra-sidebar-container {
  border-right: 1px solid rgba(0,0,0,0.1);
} */

.layout-v3 .nextra-sidebar-container ul {
  margin-left: 0 !important;
}

.layout-v3 .nextra-sidebar-container > div > div > div > ul li:first-of-type {
  margin: 0;
  padding: 0;
}

.layout-v3 .nextra-sidebar-container > div > div > div > ul > li > div > div > ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* Remove the left border */
.layout-v3 .nextra-sidebar-container ul:before {
  display: none;
}

/* .layout-v3 .nextra-sidebar-container ul li ul li ul:before {
  display: initial;
} */

.layout-v3 .nextra-sidebar-container .nextra-scrollbar {
  padding-bottom: 3rem;
}

/**
 * Make the sidebar section title not clickable (so it doesn't collapse)
 * TODO(crookse) Need to extend nextra code instead of making hacks
 */
.layout-v3 .nextra-sidebar-container button:has(span.sidebar-separator-title) {
  margin-top: 15px;
}

/* @media (min-width: 768px) {
  .layout-v3 .nextra-sidebar-container button:has(span.sidebar-separator-title) {
    pointer-events: none;
  }
} */

/* Remove the dropdown icon */
/* .layout-v3 .nextra-sidebar-container button:has(span.sidebar-separator-title) svg {
  display: none;
} */

.layout-v3 span.edgeLabel,
.layout-v3 span.nodeLabel {
  font-size: 14px;
}

.layout-v3 span.edgeLabel {
  border-radius: 2px;
  padding: 1px 3px;
  font-size: 12px;
}

.layout-v3 .nextra-breadcrumb {
  margin-bottom: 2rem;
}

.layout-v3 .step-directory-tree .nextra-filetree {
  margin-top: 0;
}

.layout-v3 [role="tablist"] button[role="tab"]:first-of-type {
  margin-left: 4px; /* Leave room for outline */
}

.layout-v3 [role="tablist"] button[role="tab"][data-headlessui-state="selected"] {
  border-bottom-width: 5px;
}

.layout-v3 .tab-group-container [role="tablist"] {
  margin: 0 !important;
  border: none;
}

.layout-v3 .tab-group-container button[role="tab"] {
  margin-top: 2px !important; /* Leave room for border */
  font-size: .9rem;
  border: 1px solid hsl(var(--nextra-primary-hue)100% 39%/.2);
  border-bottom: none;
  background: hsl(var(--nextra-primary-hue)100% 39%/.05);
}

.layout-v3 .tab-group-container button[role="tab"]:focus,
.layout-v3 .tab-group-container button[role="tab"]:focus-visible {
  outline: none;
  box-shadow: none !important;
}

.layout-v3 .tab-group-container button[role="tab"]:first-of-type {
  margin-left: 0;
}

.layout-v3 .tab-group-container button:last-of-type {
  margin-right: 0;
}

.layout-v3 .tab-group-container button[role="tab"][data-headlessui-state="selected"] {
  /* color: hsl(var(--nextra-primary-hue) 45% 50%/var(--tw-text-opacity)); */
  color: rgb(55, 65, 81);
  font-weight: 700;
  background-color: #e1eeff;
  /* background: hsl(var(--nextra-primary-hue) 45% 50%/var(--tw-text-opacity)); */
}

.layout-v3 .tab-group-container div {
  border-radius: 0 !important;
}

.layout-v3 .tab-group-container [role="tabpanel"] {
  padding: 0 !important;
  border: none !important;
}

.layout-v3 .tab-group-container [role="tabpanel"] pre {
  border-radius: 0 !important;
  margin: 0 !important;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(var(--nextra-primary-hue)100% 39%/.2);
}

[id^="headlessui-tabs-tab-"] {
  font-size: 0.8rem !important;
}

@media (max-width: 767px) {
  .logo.logo-drash {
    display: none;
  }
}

/* Nextra code block */

/* [role="tabpanel"] {
  border-radius: 0 !important;
} */

.layout-v3 .nextra-code-block {
  border-radius: 0 !important;
}

.layout-v3 .nextra-code-block > div:first-child {
  border: 0 !important;
  border-top: 1px solid #e2e8f0 !important;
  border-left: 1px solid #e2e8f0 !important;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 13px;
}

.layout-v3 .nextra-code-block pre {
  background-color: #f1f5f9;
  border-top: 1px solid #e2e8f0;
  border-left: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-right: 1px solid #e2e8f0;
  border-radius: 0 !important;
}

li.active > a {
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;
}

/* Backgrounds */

.layout-v3 input[type="search"],
.layout-v3 .nx-bg-primary-100 {
  background-color: #f1f5f9 !important;
}
