/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('./Menlo-Regular.woff') format('woff');
}

/* Global CSS for the entire application */

* {
  margin-top: 0 !important;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #222222; /* This color makes it easier on the eyes */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 2;
  height: 100%;
  margin: 0;
}

a {
  color: #7dade2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.heading-anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.heading-linked {
  display: flex;
  color: #333333;
  text-decoration: none;
  align-items: center;
  width: 100%;
}

.heading-linked .icon-link {
  display: flex;
}

.heading-linked .icon {
  margin-left: .25rem;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.heading-linked:hover .icon {
  opacity: 1;
}

button {
  border: none;
  cursor: pointer;
}

code {
  font-family: 'Menlo Regular', monospace !important;
}

.manual-code {
  font-size: .85rem;
  background-color: #f4f4f4;
  padding: .25rem;
  border-radius: .9rem;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  margin-left: 1.5rem;
  list-style-type: disc;
  margin-bottom: 1rem;
}

ul ul {
  margin-top: 1rem !important;
}

li {
  margin-bottom: 1rem;
}
li:last-of-type {
  margin-bottom: 0;
}

p {
  margin-bottom: 1rem;
}

select {
  border: none;
}

#__next {
  height: 100%;
}

.btn-get-started {
  text-align: center;
}
.btn-get-started a {
  background: #000000;
  font-weight: bold;
  font-size: .8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #ffffff;
  transition-property: color;
  transition-duration: .15s;
  padding: 1rem 2rem;
  border-radius: 3rem;
}
.btn-get-started a:hover {
  color: #7dade2;
}

.pagination {
  margin-top: 3rem !important;
  display: flex;
  justify-content: space-between;
}
.pagination .btn a {
  background: #000000;
  font-weight: bold;
  font-size: .8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #ffffff;
  transition-property: color;
  transition-duration: .15s;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.tutorial-finished {
  background-color: #efefef;
  padding: 1rem;
}

/* PrismJS overrides */

.token.inserted-sign {
  background-color: rgba(61, 191, 131, 0.26) !important;
  margin-bottom: 1px;
}

.token.deleted-sign {
  background-color: rgba(215, 32, 32, 0.54) !important;
}

.token.prefix.inserted {
  /* background-color: rgba(90, 1081, 90, 0.65) !important; */
  color: #ffffff;
  display: inline-block;
  margin: 1px;
  text-align: center;
  user-select: none;
}

.token.prefix.deleted {
  /* background-color: rgba(213, 72, 72, 0.81) !important; */
  color: #ffffff;
  display: inline-block;
  margin: 1px;
  text-align: center;
  user-select: none;
}

pre[class*=language-] {
  padding: 0 !important;
  margin: 0.5em 0 !important;
  overflow: auto !important;
}

pre code {
  display: block;
  width: 100%;
  padding: 1rem !important;
}

pre pre {
  border-radius: 0 !important;
}

pre pre code {
  padding: 0 !important;
}

.code-blocks code {
  padding: 1rem !important;
}

.bold {
  font-weight: bold;
}