/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,300;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@font-face {
  font-family: "Menlo Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Menlo Regular"),
    url("./Menlo-Regular.woff") format("woff");
}

/*
////////////////////////////////////////////////////////////////////////////////
// Entire application
////////////////////////////////////////////////////////////////////////////////
*/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

/*
////////////////////////////////////////////////////////////////////////////////
// Landing page
////////////////////////////////////////////////////////////////////////////////
*/

body .layout-landing-page {
  color: #222222; /* This color makes it easier on the eyes */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 2;
}

.layout-landing-page p {
  margin-bottom: 1rem;
}

.layout-landing-page ul {
  margin-left: 1.5rem;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.layout-landing-page li {
  margin-bottom: 1rem;
}

/*
////////////////////////////////////////////////////////////////////////////////
// Layout v2 (pages made before July 2023)
////////////////////////////////////////////////////////////////////////////////
*/

body .layout-v2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 2;
}

.layout-v2-dark {
  color: #efefef;
}

.layout-v2-dark select {
  color: #222222;
}

.layout-v2-light {
  color: #222222;
}

#__next .layout-v2 {
  height: 100%;
}

.layout-v2 {
  margin-top: 0 !important;
  box-sizing: border-box;
}

.layout-v2 a {
  color: #7dade2;
  text-decoration: none;
}

.layout-v2 a:hover {
  text-decoration: underline;
}

.layout-v2 a.heading-anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.layout-v2 .heading-linked {
  display: flex;
  text-decoration: none;
  align-items: center;
  width: 100%;
}
.layout-v2-dark .heading-linked {
  color: "#efefef";
}
.layout-v2-light .heading-linked {
  color: "#222222";
}

.layout-v2 .heading-linked .icon-link {
  display: flex;
}

.layout-v2 .heading-linked .icon {
  margin-left: 0.25rem;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.layout-v2 .heading-linked:hover .icon {
  opacity: 1;
}

.layout-v2 button {
  border: none;
  cursor: pointer;
}

.layout-v2 code {
  font-family: "Menlo Regular", monospace !important;
}

.layout-v2 .manual-code {
  font-size: 0.85rem;
  background-color: #f4f4f4;
  padding: 0.25rem;
  border-radius: 0.9rem;
  color: inherit;
}

.layout-v2 img {
  max-width: 100%;
}

.layout-v2 ul {
  margin-left: 1.5rem;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.layout-v2 ul ul {
  margin-top: 1rem !important;
}

.layout-v2 li {
  margin-bottom: 1rem;
}
.layout-v2 li:last-of-type {
  margin-bottom: 0;
}

.layout-v2 p {
  margin-bottom: 1rem;
}

.layout-v2 select {
  border: none;
}

.layout-v2 .btn-get-started {
  text-align: center;
}

.layout-v2 .btn-get-started a {
  background: #000000;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ffffff;
  transition-property: color;
  transition-duration: 0.15s;
  padding: 1rem 2rem;
  border-radius: 3rem;
}
.layout-v2 .btn-get-started a:hover {
  color: #7dade2;
}

.layout-v2 .pagination {
  margin-top: 3rem !important;
  display: flex;
  justify-content: space-between;
}

.layout-v2 .pagination .btn a {
  background: #000000;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ffffff;
  transition-property: color;
  transition-duration: 0.15s;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.layout-v2 .tutorial-finished {
  background-color: #efefef;
  padding: 1rem;
}

/* PrismJS overrides */

.layout-v2 .token.inserted-sign {
  background-color: rgba(61, 191, 131, 0.26) !important;
  margin-bottom: 1px;
}

.layout-v2 .token.deleted-sign {
  background-color: rgba(215, 32, 32, 0.54) !important;
}

.layout-v2 .token.prefix.inserted {
  /* background-color: rgba(90, 1081, 90, 0.65) !important; */
  color: #ffffff;
  display: inline-block;
  margin: 1px;
  text-align: center;
  user-select: none;
}

.layout-v2 .token.prefix.deleted {
  /* background-color: rgba(213, 72, 72, 0.81) !important; */
  color: #ffffff;
  display: inline-block;
  margin: 1px;
  text-align: center;
  user-select: none;
}

.layout-v2 pre[class*="language-"] {
  padding: 0 !important;
  margin: 0.5em 0 !important;
  overflow: auto !important;
}

.layout-v2 pre code {
  display: block;
  width: 100%;
  padding: 1rem !important;
}

.layout-v2 pre pre {
  border-radius: 0 !important;
}

.layout-v2 pre pre code {
  padding: 0 !important;
}

.layout-v2 .code-blocks code {
  padding: 1rem !important;
}

.layout-v2 .bold {
  font-weight: bold;
}
